<h1>Update author information</h1>

<%= form_for @author, url:{action: "update"} do |a| %>
    <%= a.text_field :first_name %>
    <%= a.text_field :last_name %>
    <%= a.text_field :location %>
    <%= a.submit "Save" %>
<%end%>