<h1>Update author information</h1>

<%= form_for @author, url:{action: "update"} do |a| %>
    <%= a.label :first_name %>
    <%= a.text_field :first_name %>
    <%= a.label :last_name %>
    <%= a.text_field :last_name %>
    <%= a.label :nickname %>
    <%= a.text_field :nickname %>
    <%= a.label :age %>
    <%= a.number_field :age %>
    <%= a.label :location %>
    <%= a.text_field :location %>
    <%= a.label :hometown %>
    <%= a.text_field :hometown %>
    <%= a.submit "Save" %>
<%end%>