<h1>Authors</h1>

<h3><%= link_to "Add new author", new_author_path %></h3>

<% @authors.each do |author| %>

<p>
<%= link_to author.first_name, author_path(author) %>
<%= author.last_name %>
<%= author.nickname %>
<%= author.location %>
</p>

<%end%>