<h1> Show</h1>
<p><%= link_to "Back" , authors_path %> 
</p>
<p>
<%= @author.first_name %>
<%= @author.last_name %>
<%= @author.nickname %>
<%= @author.age %>
<%= @author.location %>
<%= @author.hometown %>

<%= link_to "Show Books", author_books_path( @author) %>
<%= link_to "Edit", edit_author_path(@author) %>
<%= link_to "Delete this author", author_path(@author), method: :delete %>
</p>