<h1> Update your book </h1>

<%= form_for @book, url: {action: "update"} do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :print_date %>
    <%= f.date_field :print_date %>
    <%= f.label :original_language %>
    <%= f.text_field :original_language %>
    <%= f.submit "Save" %>
<% end%>
