<h1> Add your book </h1>
<%= form_for @book, url: {action: "create"} do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :print_date %>
    <%= f.date_field :print_date %>
    <%= f.submit "Save" %>
<% end%>
