<p> <%= link_to "Back" , author_books_path(@author) %> 

</p>
<h1>
<%= @book.title %>
</h1>

<p>
<%= @book.print_date %>
</p>

<p>
<%= @book.original_language %>
</p>


<p>

<%= link_to "Edit", edit_author_book_path(@author, @book) %>
<%= link_to "Destroy this book!", author_book_path(@author, @book), method: :delete %>
</p>
